{% extends 'base.html' %}

{% block title %}
Profile
{% endblock  %}

{% block content %}

     {% if user.is_authenticated %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Hi {{ user.username }}!  <a href="{% url 'logout' %}" class="btn btn-lg btn-danger">Logout</a></h1>
        </div>
    </div>
    {% else %}
     <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">You are not logged in !</h1>
        </div>
    </div>
    {% endif %}

{% endblock  %}